@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

body {
    font-size: 18px;
    background-image: url('/images/bg-desktop.png');
    background-position: center bottom;
    background-repeat: no-repeat; 
    background-size: 100% 50%; 
    height: 100vh;
    flex-direction: column;
    background-color: hsl(229, 57%, 11%);
}

/* GLOBAL CSS STYLES */
body,main,
.range-change {
    display: flex;
    align-items: center;
    justify-content: center;
}

main {
    height: 100%;
    gap: 10px;
}
.file {
    width: 11vw; 
    min-width: 200px;
    background-color: hsl(228, 56%, 26%);
    padding: 15px;
    border-top-right-radius: 40px;
}

.logo {
    margin-bottom: 15px;
}

.logo  img {
    width: 65px;
}

.file-icon-container {
    display: flex;
    gap: 10px;
}

.logo img,
.file-icon-container img {
    display: block;
}

.file-icon-container img,
.file,
.storage,
.range {
    border-radius:5px;   
}

.file-icon-container img {
    width: 18px;
    height: 18px;
    background-color:  hsl(229, 57%, 11%);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    transition: width 0.3s ease, height 0.3s ease;
}

.file-icon-container img:hover {
    width: 12px;
    height: 12px;   
    cursor: pointer;
    background: linear-gradient(hsl(333, 52%, 49%), hsl(335, 59%, 11%));
}

.storage {
    width: 22vw; 
    min-width: 250px;
    background-color: hsl(228, 56%, 26%);
    padding: 15px;
    margin-top: 5px;
    position: relative;
}

.storage p {
    font-size: 11px;
    color: hsl(225, 3%, 77%);
}

.bold-text {
 font-weight: 600;
 color: hsl(351, 82%, 93%);
}

.range {
    height: 10px;
    width: 100%;
    background-color:  hsl(229, 57%, 11%);
    margin: 8px 0;
}

.range-change {
    height: 10px;
    width: 70%;
    border-radius:5px;
    background: linear-gradient(hsl(341, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2px;
}

.limit-range {
    height: 7px;
    width: 7px;
    background-color: rgb(230, 213, 213);
    border-radius: 50%;
}

.range-guide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-guide  p {
    font-weight: 600;
    margin-top: -2px;
}

.gb-text {
    font-weight: 700;
    font-size: 14px;
    color: hsl(116, 68%, 40%);   
}

.display-range {
    text-transform: uppercase;
    color: hsl(229, 7%, 55%);
    font-size: 10px;
    font-weight: 600;
    background-color: hsl(0, 0%, 100%);
    width: fit-content;
    padding: 10px 10px;
    border-radius:5px; 
    box-shadow: rgba(50, 50, 93, 0.25) 0px 2px 5px -1px, rgba(0, 0, 0, 0.3) 0px 1px 3px -1px;
    position: absolute;
    top: -15px;
    right: 10px;
}

.display-range:after {
    content: '';
    position: absolute;
    bottom: -10px; 
    right:10px; 
    width: 0;
    height: 0;
    border-left: 10px solid transparent;
    border-right: 10px solid transparent;
    border-top: 10px solid hsl(0, 0%, 100%);
}

footer {
    color:  hsl(228, 57%, 86%);
    font-size: 14px;
    padding: 0  10px;
}

footer a {
    color: #bbeefa;
    font-weight: 600;
}

@media only screen and (max-width: 600px) {
    main {
       flex-direction: column;
    }

    .file {
        min-width: 250px;
        border-top-right-radius: 5px;
        margin-bottom: 10px;
    }
    
  }