@import url('https://fonts.googleapis.com/css2?family=Raleway:ital,wght@0,100..900;1,100..900&display=swap');
* {
    margin: 0;
    padding: 0;
    text-decoration: none;
    font-family: "Raleway", sans-serif;
}

body {
    font-size: 18px;
    /* background-image: url('/images/bg-desktop.png');
    background-position: center;
    background-repeat: no-repeat; */
    /* background-size: cover; */
    height: 100vh;
    display: flex;
    align-items: center;
    justify-content: center;
    flex-direction: column;
    background-color:  hsl(229, 57%, 11%);
}

main {
    display: flex;
    align-items: center;
    justify-content: center;
    height: 100%;
    gap: 10px;
}
.file {
    width: 11vw; 
    background-color: hsl(228, 56%, 26%);
    padding: 15px;
    border-radius:5px;
    border-top-right-radius: 40px;
}

.logo {
    margin-bottom: 15px;
}

.logo  img {
    display: block;
    width: 65px;
}

.file-icon-container {
    display: flex;
    gap: 10px;
}

.file-icon-container img {
    display: block;
    width: 18px;
    height: 18px;
    background-color:  hsl(229, 57%, 11%);
    padding: 5px;
    box-shadow: rgba(0, 0, 0, 0.16) 0px 1px 4px;
    border-radius:5px;
    transition: width 0.3s ease, height 0.3s ease;
}

.file-icon-container img:hover {
    width: 12px;
    height: 12px;   
    cursor: pointer;
    background: linear-gradient(hsl(333, 52%, 49%), hsl(335, 59%, 11%));
}

.storage {
    width: 22vw; 
    background-color: hsl(228, 56%, 26%);
    padding: 15px;
    border-radius:5px; 
    margin-top: 5px;
}

.storage p {
    font-size: 11px;
    color: hsl(225, 3%, 77%);
}

.bold-text {
 font-weight: 600;
 color: hsl(351, 87%, 57%);
}

.range {
    height: 10px;
    width: 100%;
    background-color:  hsl(229, 57%, 11%);
    margin: 8px 0;
    border-radius:5px;
}

.range-change {
    height: 10px;
    width: 70%;
    border-radius:5px;
    background: linear-gradient(hsl(341, 100%, 80%), hsl(335, 100%, 65%));
    display: flex;
    align-items: center;
    justify-content: right;
    padding-right: 2px;
}

.limit-range {
    height: 7px;
    width: 7px;
    background-color: rgb(230, 213, 213);
    border-radius: 50%;
}

.range-guide {
    display: flex;
    align-items: center;
    justify-content: space-between;
}

.range-guide  p {
    font-weight: 600;
    margin-top: -2px;
}